@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@100;300;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
}

header {
    width: 100vw;
    height: 75px;
    display: flex;
    background-color: #222;
}

header > div {
    width: 450px;
    height: 100%;
    display: flex;
    position: relative;
}

header div div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f00;
    transform: skew(-45deg);
    padding-left: 40px;
    padding-bottom: 5px;
    margin-left: -40px;
}

h1 {
    transform: skew(45deg);
    font-size: 2em;
    font-weight: 100;
    margin: 0 0 0 50px;
    z-index: 2;
}

h1 span {
    font-size: .8em;
}

header div span.stripes {
    width: 10px;
    height: 100%;
    margin-left: 10px;
    background-color: #f00;
    transform: skew(-45deg);
    padding-bottom: 5px;
}

header div span.stripes:nth-of-type(1) {
    opacity: .8;
}

header div span.stripes:nth-of-type(2) {
    opacity: .6;
}

header div span.stripes:nth-of-type(3) {
    opacity: .4;
}

header nav {
    width: calc(100% - 450px);
    height: 100%;
}

header nav div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 50px 0 0;
    padding: 0;
    list-style: none;
}

header nav div label {
    height: 100%;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 100ms;
    transition-property: background-color;
}

header nav div label:hover {
    background-color: #111;
}

header nav div label input {
    display: none;
}

main {
    width: 80vw;
    height: calc(100vh - 75px);
    padding-top: 5px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10vw;
}

main div#graph div.plot-container {
    height: calc(100% - 5px)
}

main div.wrapper {
    width: calc(100vh - 75px);
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
}

main div.wrapper canvas {
    width: 100%;
    height: 100%;
    margin-top: 20vh;
}

main nav {
    width: 20%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    margin-top: 20vh;
}

main nav div {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

main nav div label {
    position: absolute;
    font-size: .85em;
    font-weight: 700;
}

main nav div:not(#speed) label {
    background-color: #111;
    margin-left: 20px;
    padding: 0 10px;
}

main nav div#year input, main nav div#track select {
    width: 100%;
    border: 1px #fff solid;
    border-radius: 100px;
    background-color: transparent;
    color: #fff;
    margin-top: 10px;
    padding: 12px 20px;
}

main nav div#track select option {
    color: #111;
}

main nav div#speed label {
    left: 5px;
    font-weight: 300;
}

main nav div#speed input {
    width: 80%;
    margin-top: 25px;
}

main nav div span {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}
